@model WebApplication.Models.MenuDishes.MenuDishesViewModel

<div class="col-4">
    <div class="shadow-lg p-3 bg-white mb-4">
        <div class="card">
            @if (Model.Path != null)
            {
                <div class="card-img-wrapper">
                    <img title="@Model.Name" class="card-img-top" src="@Model.Path" alt="@Model.Name" />
                </div>}
            <div class="container">
                @if (Model.Name.Length >= 16)
                {
                    <h2>@Model.Name.Remove(13)...</h2> }
                else
                {
                    <h2>@Model.Name</h2>}
                <h6> Информация: @Model.Info </h6>
                <h6>Вес: @Model.Weight</h6>
                <h6>Цена: <span class="text-danger">@Model.Price</span> руб.</h6>
                <form asp-action="Delete" asp-route-id="@Model.Id" asp-route-menuId="@Model.MenuId"
                      asp-route-searchSelectionString="@ViewBag.SearchSelectionString"
                      asp-route-searchString="@ViewBag.SearchString"
                      asp-route-filterCatalog="@ViewBag.FilterCatalog"
                      asp-route-sortMenuDish="@ViewBag.PriceSort"
                      method="post">
                    <a class="btn btn-sm btn-success" asp-action="Add" asp-controller="Cart" asp-route-dishId="@Model.DishId">В корзину</a>
                    <button onclick="if (!confirm('Вы уверены, что хотите удалить этот элемент?')) { return false }" type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>