@model WebApplication.Models.MenuDishes.ListMenuDishViewModel


@{ ViewBag.Title = "Меню блюд"; }


<div class="text-center">
    <h1 style="margin-top: -3%;">@ViewBag.NameMenuDishes</h1>
</div>


<form method="get">
    <input type="hidden" name="menuId" value="@Model.MenuId" />

    <div class="form-inline form-group">
        <a asp-action="Index" asp-route-menuId="@Model.MenuId" asp-route-sortMenuDish="@ViewBag.PriceSort"
           asp-route-searchSelectionString="@Model.SearchSelectionString" asp-route-searchString="@Model.SearchString"
           asp-route-filterCatalog="@Model.FilterCatalog" class="btn btn-sm btn-info mr-1">
            Сортировать по цене
        </a>
        <label class="mr-1" asp-for="FilterCatalog">Категории: </label>
        <select style="height: 1.8em;" class="mr-1" name="filterCatalog" asp-items="Model.FilterCategorySelection" asp-for="FilterCatalog"></select>
        <label class="mr-1" asp-for="SearchSelectionString">Поиск по: </label>
        <select style="height: 1.8em;" class="mr-1" name="searchSelectionString" asp-items="Model.SearchSelection" asp-for="SearchSelectionString"></select>
        <label class="mr-1" asp-for="SearchString">Значение: </label>
        <input class="mr-1" name="searchString" asp-for="SearchString" />
        <input type="submit" value="Применить" class="btn btn-sm btn-primary mr-1" />
        <a asp-action="Index" asp-route-menuId="@Model.MenuId" class="btn btn-sm btn-danger mr-1">Обновить</a>
        <a class="btn btn-sm btn-warning mr-1" asp-action="Index" asp-controller="Menu" asp-route-providerId="@Model.ProviderId">Назад</a>

        @if (User.IsInRole("admin"))
        {
    <a class="btn btn-sm btn-success mr-1" asp-controller="Catalog" asp-action="Index" asp-route-providerId="@Model.ProviderId" asp-route-menuId="@Model.MenuId">Составление меню</a>}
    </div>
</form>
@if (Model.MenuDishes.Any())
{
    <div class="row mb-5">
        @{ foreach (WebApplication.Models.MenuDishes.MenuDishesViewModel menuDish in Model.MenuDishes)
            {
                @await Html.PartialAsync("_MenuDishesList", menuDish, new ViewDataDictionary(this.ViewData) {
                        { "SearchSelectionString", Model.SearchSelectionString },
                        { "SearchString", Model.SearchString },
                        { "FilterCatalog", Model.FilterCatalog }
                        }) } }
    </div> }
else
{
    <h2 class="text-center text-danger">
        Пусто
    </h2>} 