@model WebApplication.Models.Catalog.EditCatalogViewModel

@{ ViewBag.Title = "Редактировать каталог"; }

<div class="row mb-5">
    <div class="col-6 m-auto">
        <div class="card m-auto">
            <div class="card-header">
                <h3>Редактировать каталог</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Catalog" asp-action="Edit" 
                      asp-route-providerId="@Model.ProviderId"
                      asp-route-menuId="@ViewBag.MenuId"
                      asp-route-searchSelectionString="@ViewBag.SearchSelectionString"
                      asp-route-searchString="@ViewBag.SearchString"
                      asp-route-sortCatalog="@ViewBag.NameSort"
                      enctype="multipart/form-data">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="ProviderId" />
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group col-12">
                        <label asp-for="Name"></label>
                        <span class="text-danger" asp-validation-for="Name"></span><br />
                        <input class="form-control" asp-for="Name" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Info"></label>
                        <span class="text-danger" asp-validation-for="Info"></span><br />
                        <textarea rows="3" class="form-control" asp-for="Info"></textarea>
                    </div><br />

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary">Редактировать</button>
                        <a asp-action="Index" asp-route-providerId="@Model.ProviderId" 
                           asp-route-menuId="@ViewBag.MenuId"
                           asp-route-searchSelectionString="@ViewBag.SearchSelectionString"
                           asp-route-searchString="@ViewBag.SearchString"
                           asp-route-sortCatalog="@ViewBag.NameSort" class="btn btn-warning">Назад</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>