@model IEnumerable<WebApplication.Models.Order.OrderViewModel>

@{ ViewBag.Title = "Заказы"; }

<div class="row mb-5">

    <div class="col-12 shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>Заказы</h3>
            </div>
            <div class="card-body">
                <div class="container">
                    @if (Model.Any())
                    {

                        <table class="table">
                            <tr>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSort"]">
                                        Номер заказа
                                    </a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">
                                        Дата заказа
                                    </a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FullPriceSort"]">
                                        Номер
                                    </a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CountDishSort"]">
                                        Цена
                                    </a>
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var order in Model)
                            {
                                <tr>
                                    <td>@order.Id</td>
                                    <td>@order.DateOrder</td>
                                    <td>@order.CountDish</td>
                                    <td>@order.FullPrice</td>
                                    <td>
                                        <a asp-controller="Order" asp-action="GetOrderDishes" asp-route-orderId="@order.Id"
                                           class="btn btn-sm btn-success">Более подробно</a>
                                    </td>
                                </tr>}
                        </table>
                    }
                    else
                    {
                        <h2 class="text-center text-danger">
                            Не было никаких заказов
                        </h2>
                        <br />
                        <h3 class="text-center text-info">
                            <a asp-action="Index" asp-controller="Provider">Доставщики</a>
                        </h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>