@model WebApplication.Models.Provider.ProviderViewModel

<div class="col-4">
    <div class="shadow-lg p-3 bg-white mb-4">
        <div class="card">
            @if (Model.Path != null)
            {
                <div class="card-img-wrapper">
                    <a asp-action="Index" asp-controller="Menu" asp-route-providerId="@Model.Id"> <img title="@Model.Name" class="card-img-top" src="@Model.Path" alt="@Model.Name" /></a>
                </div>
            }
            <div class="container">
                @if (Model.Name.Length >= 17)
                {
                    <h2>@Model.Name.Remove(15)...</h2> }
                else
                {
                    <h2>@Model.Name</h2>}


                @if (User.IsInRole("admin"))
                {
                    <h6>Идентификатор: @Model.Id </h6>
                    <h6>
                        Один из лучших:
                        @if (Model.IsFavorite)
                        {<span>Да</span> }
                        else
                        { <span>Нет</span>}
                    </h6>}
                <h6>@Model.WorkingDays</h6>
                <h6>Время работы: @Model.TimeWorkWith.ToShortTimeString() : @Model.TimeWorkTo.ToShortTimeString()</h6>
                <h6>Информация: @Model.Info</h6>
                <h6>Электронная почта: @Model.Email</h6>
                <h6>
                    Работает:
                    @if (Model.IsActive)
                    {<span>Да</span> }
                    else
                    { <span>Нет</span>}
                </h6>

                @if (User.IsInRole("admin"))
                {
                    <form asp-action="Delete" asp-route-id="@Model.Id" asp-route-searchSelectionString="@ViewData["SearchSelectionString"]" asp-route-searchString="@ViewData["SearchString"]" method="post">
                        <input type="hidden" name="searchSelectionString" value="@ViewData["SearchSelectionString"]" />
                        <input type="hidden" name="seacrhString" value="@ViewData["SearchString"]" />
                        <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id" asp-route-searchSelectionString="@ViewData["SearchSelectionString"]" asp-route-searchString="@ViewData["SearchString"]">Редактировать</a>
                        <button onclick="if (!confirm('Вы уверены, что хотите удалить этот элемент?')) { return false }" type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                    <br />
                    }
                <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Menu" asp-route-providerId="@Model.Id" >Меню</a>
                <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Catalog" asp-route-providerId="@Model.Id">Каталог блюд</a>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>